In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
data = pd.read_csv("C://Users//Administrator//Downloads//05-11--machine-learning//Part 05~11) Machine Learning//08. Ensemble 기법의 종류와 원리//Data//otto_train.csv") 
data.head()


#id: 고유 아이디
#feat_1 ~ feat_93: 설명변수
#target: 타겟변수 (1~9)

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

## 필요없다고 판단되는 변수 제거(id)

In [18]:
data=data.drop(['id'],axis=1)

## 종속변수의 문자열을 숫자로 변환

In [25]:
le=LabelEncoder()
data['target']=le.fit_transform(data['target'])

data['target'].value_counts()  #문자형데이터가 0~8의 숫자형 데이터로 변환됨

1    16122
5    14135
7     8464
2     8004
8     4955
6     2839
4     2739
3     2691
0     1929
Name: target, dtype: int64

## 독립,종속 변수를 분리하고 학습,평가데이터 분리

In [29]:
X = data.iloc[:, data.columns != 'target']
y = data.iloc[:, data.columns == 'target']
X_train,X_test,y_train,y_test=train_test_split(X,y,stratify=y,random_state=42)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(46408, 93) (15470, 93) (46408, 1) (15470, 1)

In [32]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
model_rf=RandomForestClassifier(n_estimators=20,max_depth=5,random_state=42).fit(X_train,y_train)
predict_rf1=model_rf.predict(X_test)
print("정확도: ",accuracy_score(y_test,predict_rf1))

<ipython-input-32-9196990e9908>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf=RandomForestClassifier(n_estimators=20,max_depth=5,random_state=42).fit(X_train,y_train)

정확도:  0.6082094376212023

## 트리의 깊이를 늘려보자

In [34]:
model_rf2=RandomForestClassifier(n_estimators=20,max_depth=20,random_state=42).fit(X_train,y_train)
predict_rf2=model_rf2.predict(X_test)
print("정확도: ",accuracy_score(y_test,predict_rf2))

<ipython-input-34-734e66ae9b19>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf2=RandomForestClassifier(n_estimators=20,max_depth=20,random_state=42).fit(X_train,y_train)

정확도:  0.7793148028442146

## 트리의 개수를 늘려보자

In [36]:
model_rf3=RandomForestClassifier(n_estimators=30,max_depth=5,random_state=42).fit(X_train,y_train)
predict_rf3=model_rf3.predict(X_test)
print("정확도: ",accuracy_score(y_test,predict_rf3))

<ipython-input-36-91cade84d2f7>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf3=RandomForestClassifier(n_estimators=30,max_depth=5,random_state=42).fit(X_train,y_train)

정확도:  0.6139625080801552